@import "../common.blocks/page.css";
@import "../common.blocks/header.css";
@import "../common.blocks/logo.css";
@import "../common.blocks/nav-menu.css";
@import "../common.blocks/menu.css";
@import "../common.blocks/nav-button.css";
@import "../common.blocks/button.css";
@import "../common.blocks/ham-menu.css";
@import "../common.blocks/ham-button.css";

@import "../common.blocks/main.css";
@import "../common.blocks/welcome.css";
@import "../common.blocks/top-tracks.css";
@import "../common.blocks/table.css";
@import "../common.blocks/flex-list.css";
@import "../common.blocks/feature.css";
@import "../common.blocks/generator.css";
@import "../common.blocks/stats-container.css";

@import "../common.blocks/user-top-tracks.css";
@import "../common.blocks/user-top-artists.css";
@import "../common.blocks/user-top-genres.css";
@import "../common.blocks/user-like-artists.css";
@import "../common.blocks/user-like-tracks.css";
@import "../common.blocks/user-tracks-analysis.css";

@import "../common.blocks/footer.css";
@import "../common.blocks/link.css";


:root {
    --text: #000000;
    --text-secondary: color-mix(in srgb, var(--text) 65%, var(--background));
    --background: #e7f5fd;
    --primary: #105684;
    --secondary: #cbe9fb;
    --accent: #2282bf;
    --accent-alt: #bf2222;
}

a {
    text-decoration: none;
    color: inherit;
}