:root {
    --text: #000000;
    --background: #e7f5fd;
    --primary: #105684;
    --secondary: #cbe9fb;
    --accent: #2282bf;
}

.nav_menu_buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_button {
    display: inline-block;
    background-color: var(--secondary);
    border-radius: 10px;
    height: 41px;
    vertical-align: middle;
    padding: 0 15px;
}

.icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.name {
    display: inline-block;
    color: var(--text);
    vertical-align: middle;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.contrast_button {
    display: inline-flex;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 20px;
    height: 41px;
    padding-right: 10px;
    vertical-align: middle;
    align-items: center;
}

.nav_menu {
    display: inline-block;
}

.spotify_logo_small {
    float: left;
    height: 21px;
    width: 21px;
    padding: 10px;
}

.body {
    margin: 0;
    color: var(--text);
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}

.header {
    border-radius: 0 0 10px 10px;
    padding: 15px 50px;
}

.footer {
    margin: 0 50px;
}

.footer_box {
    background-color: var(--text);
    color: var(--background);
    border-radius: 10px 10px 0 0 ;
    padding: 15px 30px;
}

.nav_button_text {
    height: 41px;
    display: table-cell;
    vertical-align: middle;
}


a {
    text-decoration: none;
}

.contrast_link {
    color: var(--background);
}

.link {
    color: var(--text);
}

.album_cover {
    box-shadow: 5px 5px 5px var(--accent);
}

.top_tracks {
    border: 1px solid;
    border-radius: 10px;
    background-color: #E0EDF5;
    width: 100%;
}

.main_container {
    margin: 0 100px;
}

.top_tracks_item {
    vertical-align: middle;
    text-align: center;
}