.page {
    color: var(--text);
    background-color: var(--background);
    font-family: "Trebuchet MS", sans-serif;
}

.page__header {
    padding: 10px 20px;
}

.page_header_fixed {
    margin: 100px 0 0 0;
}

.page__footer {
    margin: 0 5vw;
    padding: 5px 30px;
}

@media screen and (max-width: 600px) {
    .page__footer {
        margin: 0;
    }
}