.table {
    background-color: var(--secondary);
    width: 100%;
    border-radius: 10px;
    border-spacing: 0 1vh;
    min-height: 400px;
}

.table_inner {
    background-color: color-mix(in srgb, var(--secondary) 90%, var(--accent));
}

.table__cell {
    padding: 7px 10px;
}

.table__cover-img {
    height: 120px;
    box-shadow: 5px 5px 5px var(--accent);
}

.table__row {
    vertical-align: middle;
    text-align: center;
    background-color: color-mix(in srgb, var(--secondary) 70%, var(--accent));
}

.table__row>td:first-child, .table__row>th:first-child {
    border-radius: 10px 0 0 10px;
}

.table__row>td:last-child, .table__row>th:last-child {
    border-radius: 0 10px 10px 0;
}

.table__row:nth-child(even) {
    background-color: color-mix(in srgb, var(--secondary) 80%, var(--accent));
}

.table__info-primary {
    font-size: 1.2rem;
    margin: 0.6rem;
}

.table__info-secondary {
    font-size: 1.1rem;
    color: var(--text-secondary);
    margin: 0.6rem;
}

.table__index {
    font-size: 1.2rem;
    font-weight: 700;
}

.table_loading tbody, .table_error tbody {
    position: relative;
}

.table_loading tbody:after {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(72, 72, 72, 0.1);
    background-image: url('/images/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    content: ""
}

.table_error tbody:after {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(72, 72, 72, 0.1);
    background-image: url('/images/error.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    content: ""
}

@media screen and (max-width: 700px) {
    .table__cover-img {
        height: 96px;
    }
}

@media screen and (max-width: 600px) {
    .table__cover-img {
        height: 64px;
    }

    .table__cell {
        padding: 5px;
    }
}