.table {
    background-color: var(--secondary);
    width: 100%;
    border-radius: 10px;
    border-spacing: 0 1vh;
    min-height: 400px;
}

.table_inner {
    background-color: color-mix(in srgb, var(--secondary) 90%, var(--accent));
}

.table__cell {
    padding: 7px 10px;
    overflow-wrap: anywhere;
}

.table__cover-img {
    height: 100px;
    box-shadow: 5px 5px 5px var(--accent);
}

.table__row {
    vertical-align: middle;
    text-align: center;
    background-color: color-mix(in srgb, var(--secondary) 70%, var(--accent));
}

.table__row>td:first-child, .table__row>th:first-child {
    border-radius: 10px 0 0 10px;
}

.table__row>td:last-child, .table__row>th:last-child {
    border-radius: 0 10px 10px 0;
}

.table__row:nth-child(even) {
    background-color: color-mix(in srgb, var(--secondary) 80%, var(--accent));
}

.table__info-primary {
    font-size: 1.2rem;
    margin: 0.6rem;
}

.table__info-secondary {
    font-size: 1.1rem;
    color: var(--text-secondary);
    margin: 0.6rem;
}

.table__index {
    font-size: 1.2rem;
    font-weight: 700;
}

.table tbody {
    position: relative;
}

@media screen and (max-width: 700px) {
    .table__cover-img {
        height: 96px;
    }
}

@media screen and (max-width: 600px) {
    .table__cover-img {
        height: 64px;
    }

    .table__cell {
        padding: 5px;
    }
}