<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link rel="stylesheet" href="../static/css/outlines.css" th:href="@{/css/outlines.css}">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.svg" th:href="@{/images/logo.svg}">
    <script src="../static/js/pageLoad.js" th:src="@{/js/pageLoad.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"
            integrity="sha512-SIMGYRUjwY8+gKg7nn9EItdD8LCADSDfJNutF9TPrvEo86sQmFMh6MyralfIyhADlajSxqc7G0gs7+MwWF/ogQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="/js/createTable.js"></script>
    <script src="/js/statistics.js" th:src="@{/js/statistics.js}"></script>
    <title>Статистика - SoundStats</title>
</head>
<body class="page page_header_fixed">

<header th:replace="~{fragments/header :: header}"></header>

<main class="main">
    <div class="main__inner">
        <div class="page-desc">
            <h1 class="page-desc__header">
                Статистика
            </h1>
            <div class="page-desc__text">
                Здесь вы сможете просматривать свою статистику по вашим трекам, исполнителям, любимым жанрам, а также
                подписываться на ваши самые прослушиваемые треки и исполнителей
            </div>
        </div>
        <div class="stats-container">
            <div class="stats-container__item stats-container__top-artists">
                <h2 class="stats-container__item-header">Любимые исполнители</h2>
                <table class="table table_inner">
                    <tbody id="user-top-artists">
                    <tr>
                        <td>
                            <div class="overlay" id="preloader-artists">
                                <img src="images/loading.gif" height="100">
                                <p>Загрузка</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-container__item stats-container__top-genres">
                <h2 class="stats-container__item-header">Любимые жанры</h2>
                <div class="plot">
                    <canvas id="top-genres-plot"></canvas>
                </div>
            </div>
            <div class="stats-container__item stats-container__top-tracks">
                <h2 class="stats-container__item-header">Любимые треки</h2>
                <table class="table table_inner">
                    <thead class="table__header">
                    <tr>
                        <th class="table__cell">#</th>
                        <th class="table__cell">Обложка</th>
                        <th class="table__cell">Описание</th>
                        <th class="table__cell">Ссылка</th>
                    </tr>
                    </thead>
                    <tbody id="user-top-tracks">
                    <tr>
                        <td>
                            <div class="overlay" id="preloader-tracks">
                                <img src="images/loading.gif" height="100">
                                <p>Загрузка</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-container__item stats-container__tracks-analysis">
                <h2 class="stats-container__item-header">Анализ предпочтений в музыке</h2>
                <div class="plot">
                    <canvas id="tracks-analysis-plot"></canvas>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>